.informacoes {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;

    background-color: rgba(0, 0, 0, .65);
    z-index: 2000;
    display: none;
    justify-content: center; /*vertical*/

    align-items: center; /*horizonal*/
}

.informacoes.mostrar {
    display: flex;
}

.modal {
   /* background: rgb(22, 22, 22);*/
    background: linear-gradient(to top, rgba(22,22,22),rgba(0,0,0,.50)100%);
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px;
    border-radius: 6px;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal{
    animation: modal .3s;
}

.sinopse {
    font-family: Arial, Helvetica;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subtitulo {
    font-size: 20px;
}

.fechar {
    position: absolute;
    top: 0;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px;
    background: rgba(22, 22, 22, 0.65);
    color: whitesmoke;
    cursor: pointer;
}